DoAn3D/Temp
DoAn3D/UserSettings
DoAn3D/.vs
DoAn3D/Library
DoAn3D/Logs
DoAn3D/obj
DoAn3D/.idea
*.csproj
*.sln
*.csproj
Ark_Rival_GUI
task1_3D_Day7/Library
task1_3D_Day7/Logs
task1_3D_Day7/Temp
task1_3D_Day7/obj
task1_3D_Day7
DoAn3D/Assets/_www.unityassetcollection.com.txt
DoAn3D/Assets/_www.unityassetcollection.com.txt.meta
